.home {
  padding: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 250px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.array {
  display: flex;
}

.box {
  width: 60px;
  height: 60px;
  border: 2px solid royalblue;

  display: flex;
  justify-content: center;
  align-items: center;
}

.added {
  background: lightgreen;
}

.flow {
  display: flex;
  gap: 50px;
  align-items: center;
}